<div id="quote_big">
	<div class="quote">
    <div class="quote_top"></div>
  	<div class="quote_in">
      <%= image_tag 'quote-img.jpg', :class => 'alright', :theme => true %>
      <h4>Get a Quote</h4>
      <p>Get a 100% free no obligation quote right now!</p>
      <a href="#"><%= image_tag 'more-btn.gif', :class => 'alleft2', :theme => true %></a>
    </div>
    <div class="quote_bottom"></div>
  </div>
  <div class="quote">
    <div class="quote_top"></div>
    <div class="quote_in">
      <%= image_tag 'quote-img2.jpg', :class => 'alright', :theme => true %>
      <h4>Testimonials</h4>
      <p id="testimp">"I highly recommend Living Sky Web Development. They are highly professional, yet friendly and..."</p>
      <a href="#"><%= image_tag 'more-btn.gif', :class => 'alleft2', :theme => true %></a>
    </div>
    <div class="quote_bottom"></div>
  </div>
  <div class="quote">
    <div class="quote_top"></div>
    <div class="quote_in">
      <%= image_tag 'quote-img3.jpg', :class => 'alright', :theme => true %>
      <h4>Contact us</h4>
      <p>Get in touch with us<br />right now!</p>
      <a href="#"><%= image_tag 'more-btn.gif', :class => 'alleft2', :theme => true %></a>
    </div>
    <div class="quote_bottom"></div>
  </div>
</div>