<!DOCTYPE html>
<html>
  <%= render :partial => 'shared/head' %>
  <body>
    <div id="container">
      <%= render :partial => 'shared/header' %>
      <section>
        <div id="content_in">
          <%= render :partial => 'shared/content_page' %>
        </div>
        <div id="cont_bottom"></div> 
      </section>
      <%= render :partial => 'shared/actions' %>
      <%= render :partial => 'shared/footer' %>
    </div>
  </body>
</html>