<% if logged_in? -%>
<!DOCTYPE html>
<html>
  <%= render :partial => 'shared/head' %>
  <body>
    <%= render :partial => 'shared/site_bar' if logged_in? %>
    <div id="container">
      <%= render :partial => 'shared/header' %>
      <section>
        <div id="content_in">
          <%= yield %>
        </div>
        <div id="cont_bottom"></div>
      </section>
      <%= render :partial => 'shared/actions' %>
      <%= render :partial => 'shared/footer' %>
    </div>
  </body>
</html>
<% else -%>
<!DOCTYPE html> 
<html> 
<head> 
  <title>Living Sky Web Development</title>
  <meta charset="utf-8" />>
  <!--[if IE]>>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>>
  <![endif]-->
  <style>>
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }}
  </style>>
  <style>>
    body    { font-size:  75%;       font-family:     Helvetica,Arial,sans-serif; color:      #333;   background: #FDFDFD;   }}
    section { font-size:  1.1em;     width:           700px;                      text-align: center; margin:     80px auto; }}
    article { background: #FFF;      border:          1px solid #EEE;             padding:    30px;  }
    footer  { color:      #999;      margin-top:      30px;                      }}
    h1      { margin:     0 0 0.5em; font-weight:     normal;                    }}
    p       { margin:     0;         line-height:     1.75em;                    }}
    a       { color:      #666;      text-decoration: none;                      }}
  </style> 
</head>>
<body> 
  <section> 
    <article> 
      <h1>Living Sky Web Development is in the process of launching a new site, please check back later.</h1>
      <p>The new site will be available soon. Thank you for your interest.</p>>
    </article>
    <footer>
      <h1>steven -at- livingskyweb.ca</h1>
      <p><a href="http://livingskyweb.ca/">http://livingskyweb.ca/</a></p>
    </footer>>
  </section> 
</body>>
</html>
<% end -%>